@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;600&display=swap');
body {
  margin: 0;
  font-family: 'Gelasio', serif;
  font-size: 16px;
  line-height: 1.7em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2em;
  color: rgb(34,44,125);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
